---
layout: default
refactor: true
---



## Blogs
{% assign blogs_by_year = site.blogs | sort: 'date' | reverse %}
{% for blog in blogs_by_year %}
  {% unless blog.previous %}
    <h2>{{ blog.date | date: '%Y' }}</h2>
  {% else %}
    {% unless blog.date | date: '%Y' == blog.previous.date | date: '%Y' %}
      <h2>{{ blog.date | date: '%Y' }}</h2>
    {% endunless %}
  {% endunless %}
  <h3>{{ blog.date | date: '%B' }}</h3>
  <ul>
    {% for blog in blogs_by_year %}
      {% if blog.date | date: '%Y' == blog.previous.date | date: '%Y' and blog.date | date: '%B' == blog.previous.date | date: '%B' %}
        <li><a href="{{ blog.url | prepend: site.baseurl }}">{{ blog.title }}</a> - {{ blog.date | date: "%B %d, %Y" }}</li>
      {% endif %}
    {% endfor %}
  </ul>
{% endfor %}

## Projects
{% assign projects_by_year = site.projects | sort: 'date' | reverse %}
{% for project in projects_by_year %}
  {% unless project.previous %}
    <h2>{{ project.date | date: '%Y' }}</h2>
  {% else %}
    {% unless project.date | date: '%Y' == project.previous.date | date: '%Y' %}
      <h2>{{ project.date | date: '%Y' }}</h2>
    {% endunless %}
  {% endunless %}
  <h3>{{ project.date | date: '%B' }}</h3>
  <ul>
    {% for project in projects_by_year %}
      {% if project.date | date: '%Y' == project.previous.date | date: '%Y' and project.date | date: '%B' == project.previous.date | date: '%B' %}
        <li><a href="{{ project.url | prepend: site.baseurl }}">{{ project.title }}</a> - {{ project.date | date: "%B %d, %Y" }}</li>
      {% endif %}
    {% endfor %}
  </ul>
{% endfor %}


## Walkthroughs
{% assign Walkthroughs_by_year = site.Walkthroughs | sort: 'date' | reverse %}
{% for Walkthrough in Walkthroughs_by_year %}
  {% unless Walkthrough.previous %}
    <h2>{{ Walkthrough.date | date: '%Y' }}</h2>
  {% else %}
    {% unless Walkthrough.date | date: '%Y' == Walkthrough.previous.date | date: '%Y' %}
      <h2>{{ Walkthrough.date | date: '%Y' }}</h2>
    {% endunless %}
  {% endunless %}
  <h3>{{ Walkthrough.date | date: '%B' }}</h3>
  <ul>
    {% for Walkthrough in Walkthroughs_by_year %}
      {% if Walkthrough.date | date: '%Y' == Walkthrough.previous.date | date: '%Y' and Walkthrough.date | date: '%B' == Walkthrough.previous.date | date: '%B' %}
        <li><a href="{{ Walkthrough.url | prepend: site.baseurl }}">{{ Walkthrough.title }}</a> - {{ Walkthrough.date | date: "%B %d, %Y" }}</li>
      {% endif %}
    {% endfor %}
  </ul>
{% endfor %}